@model WebApplication1.Models.Cliente_Paquete

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente_Paquete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_contratacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_contratacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_ClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_ClienteNavigation.ID_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_PaqueteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_PaqueteNavigation.ID_Paquete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_ClientePaquete">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
