@model IEnumerable<WebApplication1.Models.Cliente_Paquete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha_contratacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_ClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_PaqueteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_contratacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ClienteNavigation.ID_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_PaqueteNavigation.ID_Paquete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_ClientePaquete">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_ClientePaquete">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_ClientePaquete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
