@model IEnumerable<WebApplication1.Models.Disponibilidad_Instructor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_InstructorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_InstructorNavigation.ID_Instructor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_DisponibilidadInstructor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_DisponibilidadInstructor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_DisponibilidadInstructor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
