@model WebApplication1.Models.Mantenimiento_Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mantenimiento_Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kilometraje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kilometraje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_VehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_VehiculoNavigation.ID_Vehiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Mantenimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
